.newProduct {
  flex: 4;
  margin: 30px;
}

.productForm {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: 20px;
}

.newProductTitle {
  color: rgb(167, 164, 164);
}

.newProductIcon {
  cursor: pointer;
}

.newProductImg {
  display: flex;
  align-items: center;
}

.productUploadImg {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}

.newProductItem {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 20px;
}

.newProductItem>label{
  margin-bottom: 10px;
  font-weight: 600;
  color: rgb(127, 135, 143);
}

.newProductItem>input {
  height: 20px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

.newProductSelect {
  height: 40px;
  border-radius: 5px;
}

.newProductButton {
  width: 200px;
  height: 30px;
  border: none;
  background-color: rgb(1, 141, 141);
  color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
  padding: 7px 10px;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 30px;
}